.nav-container {
    width: 100%;
    height: 85vh;
    margin: 1rem 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #eee;
  }
  .nav-right-side{
   padding: 2rem 1rem 1rem 1rem;
  }
  .nav-left-side{
   width: auto;
   padding: 0rem 4rem 0rem 1rem;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
  }