.admin-container {
    width: 100%;
    height: 85vh;
    margin: 10px 0px;
    border: 1px solid #555;
    background: #eee;
  }
  .main-navside{
   padding: 2rem 1rem 1rem;
   color:black
  }
  .sidebar{
   width: auto;
   padding: 0rem 4rem 0rem 0rem;
  }