.dark-nav{
    background-color: rgb(32, 32, 32)!important;
    color: white;
}

.dark-nav li{
    padding-right: 1rem;
}
.dark-nav li a{
    color:white;
    font-size: 18px;
}

.navbar-toggler {
    border-color: #ffffff !important;
}
